.landingPage {
  position: relative;
  height: 50vh;
  width: 100%;
}

.box {
  margin-top: 12.5rem;
}

.link {
  text-decoration: none;
  color: black;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
